
.debug_line{
    width: 100%;
    background-color: azure;
    border: 1px solid #35fae8;
    position: fixed;
    bottom:0px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-family: monospace;
}